---
import { getBlogCollection, getUniqueTagsWithCount } from 'astro-pure/server';
import { Button } from 'astro-pure/user';
import PageLayout from '@/layouts/BaseLayout.astro';

const allPosts = await getBlogCollection();
const allTags = getUniqueTagsWithCount(allPosts);

const meta = {
	description: 'لیستی از تمام موضوعات و کلمات کلیدی که در پست‌هایم در مورد آن‌ها نوشته‌ام',
	title: 'کلمات کلیدی',
};
---

<PageLayout {meta}>
	<Button title="بازگشت به لیست پست‌ها" href="/blog" style="back" />
	<main class="mt-6 lg:mt-10">
		<div id="content-header" class="animate">
			<h1 class="mb-6 text-3xl font-medium">کلمات کلیدی</h1>
		</div>

		<div id="content" class="animate">
			{
				allTags.length > 0 ? (
					<ul class="flex flex-wrap gap-4">
						{allTags.map(([tag, val]) => (
							<li>
								<Button href={`/tags/${tag}`} style="pill" class="relative items-start gap-x-2 px-2.5 pb-1.5 pt-2">
									{tag}
									<span class="flex h-5 w-5 -translate-y-[1px] items-center justify-center rounded-full bg-cyan-950 pt-1.5 text-xs">
										{val}
									</span>
								</Button>
							</li>
						))}
					</ul>
				) : (
					<p>کلمه‌ی کلیدی‌ای وجود ندارد.</p>
				)
			}
		</div>
	</main>
</PageLayout>
