---
import { Image } from 'astro:assets';
import { GithubCard } from 'packages/pure/components/advanced';

import { PostPreview } from 'astro-pure/components/pages';
import { getBlogCollection, sortMDByDate } from 'astro-pure/server';
import { Button, Icon, Label } from 'astro-pure/user';
import logo from '@/assets/logo.png';
import Section from '@/components/home/Section.astro';
import PageLayout from '@/layouts/BaseLayout.astro';
import config from '@/site-config';

const MAX_POSTS = 10;
const allPosts = await getBlogCollection();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const meta = {
	title: `صفحه اصلی`,
};
---

<PageLayout meta={meta} highlightColor="#659EB966">
	<main class="flex w-full flex-col items-center">
		<section class="animate mb-10 flex flex-col items-center gap-y-7" id="content-header">
			<Image src={logo} alt="logo" class="h-48 w-auto rounded-full border" loading="eager" />

			<div class="flex flex-col items-center gap-y-4">
				<h1 class="text-3xl font-bold">{config.author}</h1>
				<p class="text-muted-foreground">برنامه‌نویس فرانت‌اند (Front-end Developer)</p>
				<div class="flex flex-wrap justify-center gap-x-7 gap-y-3">
					<Label title="مشهد، ایران">
						<Icon name="location" class="size-5" slot="icon" />
					</Label>

					<Label title="گیت‌هاب" as="a" href="https://github.com/MR-Mostafa" target="_blank">
						<Icon name="github" class="size-5" slot="icon" />
					</Label>

					<Label title="لینکدین" as="a" href="https://linkedin.com/in/m-rahmati" target="_blank">
						<Icon name="linkedin" class="size-5" slot="icon" />
					</Label>
				</div>
			</div>

			{/* Get template */}
			<a
				href="/resume.pdf"
				target="_blank"
				download="Mostafa-Rahmati-Resume.pdf"
				class="flex flex-row items-center gap-x-3 rounded-full border border-border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md"
			>
				<span class="relative flex items-center justify-center">
					<span class="absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75"></span>
					<span class="size-2 rounded-full bg-green-400"></span>
				</span>
				<p class="font-medium text-muted-foreground">دانلود رزومه</p>
			</a>
		</section>

		<div id="content" class="animate flex flex-col gap-y-12 md:w-4/5 lg:w-5/6">
			{
				allPostsByDate.length > 0 && (
					<Section title="آخرین مقالات">
						<div class="grid grid-cols-1 gap-3 pb-2 sm:grid-cols-2">
							{allPostsByDate.map((p) => (
								<PostPreview post={p} detailed />
							))}
						</div>
						<Button title="تمام مقالات" class="w-fit self-end" href="/blog" style="ahead" />
					</Section>
				)
			}

			<Section title="مشارکت‌ها">
				<GithubCard
					title="ترجمه دستورالعمل‌های پروژه - Project Guidelines"
					description="پروژه Project Guidelines مجموعه‌ای جامع از بهترین شیوه‌ها برای توسعه پروژه‌های جاوااسکریپت است که شامل موضوعاتی مانند گیت، مستندسازی، تست و طراحی API و … می‌باشد. با افتخار در ترجمه‌ی کامل مستندات آن به زبان فارسی مشارکت داشته‌ام و هم‌اکنون ترجمه فارسی آن در فایل README-ir.md موجود است."
					repo="elsewhencode/project-guidelines"
					pageUrl="/contributes/project-guidelines"
				/>
			</Section>
		</div>
	</main>
</PageLayout>
